@page
@model Kepler.UI.Web.Pages.auth.logoutModel
@{
    Layout = "_LayoutGeneral";
}
<div class="text-center">
    <p>You have logged out of the application.</p>
    <p>Click <a asp-page="/Index">here</a> to return to the home page</p>
</div>
<vc:authentication-widget></vc:authentication-widget>